<section id="bands">
    {{#each band_img}}

        <div class="bandContainer">
            <p class="bandName">{{name}}</p>
            <a href="/{{name}}">
                <img src ="/images/{{band_img}}" alt="avatar">
            </a>
        </div>

    {{/each}}
</section>
