<section id="bands">
    {{#each band_img}}
        <div class="band-container">
            <a href="/{{name}}">
                <img src ="/images/{{band_img}}" alt="avatar">
            </a>

            <h3 class="band-name">{{name}}</h3>
        </div>

    {{/each}}
</section>
